

.navContainer {
  display: flex;
  /* justify-content: space-around; */
  /* align-items: flex-start; */
  background-color: #333;
  /* overflow: hidden; */
}

.navItem {
  /* float: left; */
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  /* color: red; */
}

.active {
  background-color: var(--secondaryColor);
}

.navItem:active {
  background-color: var(--secondaryColor);
}

.navItem:hover {
  color: var(--primaryColor);
  background-color: #f2f2f2;
  text-decoration: none;
  text-align: center;
}