:root {
  /* --primaryFont: 'Nunito Sans', sans-serif; */
  /* --primaryFont: ''; */
  /* --primaryFont: 'Squada One'; */
  --primaryFont: 'Quicksand';
  /* --primaryFont: 'Abel'; */
  /* --primaryFont: 'Goudy Bookletter 1911'; */
  --fontSize: 20px;
}

@font-face {
  font-family: 'Squada One';
  src: url("/fonts/SquadaOne/SquadaOne-Regular.ttf");
}
@font-face {
  font-family: 'Abel';
  src: url("/fonts/Abel/Abel-Regular.ttf");
}
@font-face {
  font-family: 'Quicksand';
  src: url("/fonts/Quicksand/Quicksand-Regular.ttf");
}


/* Resets*/
html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--primaryFont, ''), -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: var(--fontSize, 16px);
}

ul {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}
/* END Resets */

/* Custom properties */
:root {
  --primaryColor: blue;
  --secondaryColor: green;
  --selected: #0070f3;

  --dark: #322F30;
  --light: #F6F3F1;
  --white: #F6F3F1;
  --orange: #EB662B;
  --maroon: #A44D46;
  --blue: #9296A4;
}

body {
  background-color: (var(--white));
  /* background-color: #f2f2f2; */
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

main {

}

.footer {
  
}